table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td{
    background: #3e97f7;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

th {
    color: #3e97f7;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    margin-top: 80px;
} 
body {
	min-height: 80vh;
	position: relative;
	margin: 0;
  }

.downloadAll{
    margin-left: 825px;
    margin-bottom: 0px; 
}
