.col-md-8 mb-5{
    padding-top: 800px;
}

.container{
    margin-bottom: 200px;
}

.header{
   height: 20%;
}

.list-group-item{
    right: auto; 
    left: auto; 
    background-color: black;
    text-align: center;
    
}
.list-group-item{
    color:#3e97f7;
}