<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-2">
      <h3>Create a Student !</h3>
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-xs-4">First Name: </label>
          <input type="text" class="form-control" formControlName="firstName" #firstName placeholder="Enter first name..." />
        </div>
        <div
          *ngIf="angForm.controls['firstName'].invalid && (angForm.controls['firstName'].dirty || angForm.controls['firstName'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['firstName'].errors.required">
            First Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4">Last Name: </label>
          <input type="text" class="form-control" formControlName="lastName" #lastName placeholder="Enter last name..." />
        </div>
        <div
          *ngIf="angForm.controls['lastName'].invalid && (angForm.controls['lastName'].dirty || angForm.controls['lastName'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['lastName'].errors.required">
            Last Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4">Card Number: </label>
          <input type="text" class="form-control" formControlName="cardNumber" #cardNumber placeholder="Enter Card Number..." />
        </div>
        <div
          *ngIf="angForm.controls['cardNumber'].invalid && (angForm.controls['cardNumber'].dirty || angForm.controls['cardNumber'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['cardNumber'].errors.required">
            Card Number is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4">Password: </label>
          <input type="password" class="form-control" formControlName="pass" #pass placeholder="Enter password..." />
        </div>
        <div
          *ngIf="angForm.controls['pass'].invalid && (angForm.controls['pass'].dirty || angForm.controls['pass'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['pass'].errors.required">
            Password is required.
          </div>
        </div>
        <div class="form-group" style="padding-top: 30px;">
          <button (click)="addStudent(firstName.value, lastName.value, cardNumber.value, pass.value)"
            [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>
            Create !
          </button>
        </div>
      </form>
    </div>
  </div>
</div>